.eyewitness--stories {
    display: flex;
    justify-content: center;
    padding: 4%;
    overflow-x: hidden;
}

.eyewitness--stories__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: justify;
    gap: 1rem;
    transition: all 1s ease 2s;
}

.eyewitness--stories__content h2 {
    padding-bottom: 1rem;
    text-align: center;
}

.eyewitness--stories__content p.author {
    color: #d2e3e7a2;
    margin-bottom: 2rem;
}

.h3--container {
    display: flex;
    align-items: center;
}

.h3--container h3 {
    flex: 1;
    text-align: center;
    font-size: 1.6rem;
}

.h3--container h3.left--edge {
    text-align: start;
}

.h3--container h3.right--edge {
    text-align: end;
}

.h3--container img {
    width: 150px;
}