.site-footer {
    padding: 20px;
    text-align: center;
    border-top: 2px solid #A69911;
}

.footer-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.footer-links a {
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-socials a {
    margin: 0 10px;
}

.footer-socials img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}